#container {
    margin: 3%;
    padding: 3%;
}

#header {
    font-size: xx-large;
    padding-bottom: 1%;
}

#imageEdit a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding:1%;
}

#imageEdit {
    background-color: black;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px; /* Increase the margin to create more space */
}

#textBox {
    min-width: 70%;
    height: 70%;
}

#editForm {
    border: 1px solid black;
    border-radius: 2%;
    padding: 2%;
}

input[type="text"],
textarea {
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    color: #e74c3c;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}
#form{
margin-top: 2%;
}
