*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    min-height: 100vh;
    width: 100%;
}
#navbar{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap:1vw;
    padding: 1.5vh;
    font-size: 1.2rem;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100vw;
}
.items{
    display: flex;
    gap: 1vw;
}

.content{
    padding: 2vh 2vw;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search_bar{
    width: 20vw;
    padding:1vh 2vw;
    border-radius: 10px;
}
#heading{
    font-size: 2rem;
    margin-bottom: 2.3vh;
}

#title {
    padding: 0px;
    margin-left: -10px;
    margin-right: 100px;
}

.icons{
    color: black;
}

/*<-------- navbar ------------>*/

header {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header div {
    display: flex;
}

header a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.questions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    background-color: #eaeaea;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%; /* Set width to 100% to ensure each article takes a full row */
    transition: transform 0.3s ease-in-out;
}

.row-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.row-container p {
    margin-right: 20px;
}

.row-container a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.row-container p:last-child {
    margin-right: 0;
}

.row-container .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.row-container .tag {
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12%;
}

#parent {
    display: grid;
    grid-template-columns: 20% 58% 20%;
    padding-top: 60px;
}

#body {
    border-left: 2px solid black;
    overflow-y: scroll;
    height: 92vh;
}


/*-----------Side Bar starts here -----------------*/

#sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size:1.4rem;
}

.side_icons{
    margin-bottom:0.8rem;
    margin-right: 0.5rem;
}

.row{
    cursor: pointer;
    display: flex;
}

.row a{
    color: black;
    text-decoration: none;
}

.row a:hover{
    color: red;
}