/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd; /* Add border at the bottom */
}

#logo {
    width: 40px;
    height: 40px;
}

.search {
    display: flex;
    align-items: center;
}

#search_bar {
    width: 300px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search_icon {
    color: #fff;
    cursor: pointer;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.items {
    list-style: none;
    display: flex;
    align-items: center;
}

.items li {
    margin-right: 20px;
}

.items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main {
    padding: 20px;
    border-bottom: 2px solid #ddd; /* Add border at the bottom */
}

.questions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    border-bottom: 2px solid #ddd; /* Add border at the bottom */
}

.article {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.article:hover {
    transform: translateY(-5px);
}

.row-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row-container p {
    margin-right: 10px;
    color: #555;
}

.row-container a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.row-container p:last-child {
    margin-right: 0;
}

h2 {
    margin: 0;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.tags {
    background-color: #f2f2f2;
    color: #555;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
}
