*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container{
    min-height: 100vh;
    width: 100%;
}
#navbar{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap:1vw;
    padding: 1.5vh;
    font-size: 1.2rem;
    align-items: center;
}
.items{
    display: flex;
    gap: 1vw;
}

.content{
    padding: 2vh 2vw;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search_bar{
    width: 20vw;
    padding:1vh 2vw;
    border-radius: 10px;
}
#heading{
    font-size: 2rem;
    margin-bottom: 2.3vh;
}

#title {
    padding: 0px;
    margin-left: -10px;
    margin-right: 100px;
}

/*<-------- navbar ------------>*/

#body {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgba(0, 0, 0, 0.54);
    padding-left: 10px;
    padding-top: 40px;
}

#main-question {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: x-large;
}

.question-detail {
    display: grid;
    grid-template-columns: 5% 90%;
    font-size: x-large;
}

#question{
    display: grid;
    grid-template-columns: 85% 10%;
}

.voting-button {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 5% 10% 10% 10%;
    margin: 10px 0px;
}

.voting-button:hover {
    background-color: #F0BF4C
}

#parent {
    display: grid;
    grid-template-columns: 20% 58% 20%;
}

#ask-question {
    height: 40px;
    margin-top: 10px;
}

#voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100px;
    padding-top: 20px;
}

input[type = "submit"] {
    background-color: rgb(27, 117, 208);
    cursor: pointer;
    color: white;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
}

#content-body {
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
}

#content {
    font-size: 2.5rem;
}

.tags {
    background-color: lightblue;
    color: darkblue;
    font-size: medium;
    margin-right: 20px;
    padding: 8px;
    border-radius: 5px;
}

#view-detail {
    font-size: medium;
}
#sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size:1.4rem;
}
.side_icons{
    margin-left:11vw;
    margin-bottom:0.8rem;
    margin-right: 0.5rem;
}
.row{
    cursor: pointer;
    display: flex;
}
.row a{
    color: black;
    text-decoration: none;
}
.row a:hover{
    color: red;
}
.icons{
    color: black;
}