*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

#navbar{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    gap:1vw;
    padding: 1.5vh;
    font-size: 1.2rem;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 100vw;
}

.items{
    display: flex;
    gap: 1vw;
}

.content{
    padding: 2vh 2vw;
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_bar{
    width: 20vw;
    padding:1vh 2vw;
    border-radius: 10px;
}

#heading{
    font-size: 2rem;
    margin-bottom: 2.3vh;
}

.icons{
    color: black;
}

/*-----------nav bar ends here -------------------*/

#userContainer{
    display:grid;
    grid-template-rows:22% 10% 68%;
    overflow-y: scroll;
    height: 92vh;
    border-left: 2px solid black;
    padding: 30px 0px;
}

#parent {
    display: grid;
    grid-template-columns: 20% 68% 10%;
    padding-top: 50px;
}

#userDetail{
    display:grid;
    grid-template-columns:20% 45% 34%
}

#profilePhoto{
    grid-column:1;
    padding-left:30%;
    margin-top:0;
}

#profileName{
    grid-column:2;
}

#editButtons a {
    display: inline-block;
    padding: 10px 20px; /* Adjust the padding to make the buttons larger */
    margin-right: 20px; /* Add some spacing between buttons */
    text-decoration: none;
    border: 1px solid black; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    color: black; /* Set text color */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
}

#editButtons a:hover {
    background-color: #4CAF50; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

#name{
    font-size:xx-large;
}

#memberSince{
    margin-top:10%;
}

#menu{
    grid-row:2;
    margin-top:3%;
    margin-left:5%;
}

ul#menuOptions li{
    display:inline-block;
}

#menuOptions li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:4px;
}

.status-view {
    margin-left: 50px;
}

.profile-heading{
    font-size: 1.7rem;
}

#about{
    grid-column:2;
    margin:5%;
    margin-top:0;
}

#userDetails{
    margin-top:5%;
    grid-row:3;
    display:grid;
    grid-template-columns:20% 78%;
}

#statsBox{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.2rem;
    border:1px solid black;
    border-radius:8px;
}

.contentBox{
    width:100%;
    border-radius:20px;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 40%;
    background: #F0F1F4;
    text-align: center;
}
#userName {
    font-size: xxx-large;
}

#memberSince {
    color: rgb(0,0,0,0.5);
}

.iconCake {
    color: rgb(0,0,0,0.5);
}

.statusDetail {
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0,0.5);
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px  0px 20px 20px;
    height: 100px;
}

/*-----------Side Bar starts here -----------------*/

#sidebar{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size:1.4rem;
    padding-top: 20px;
}

.side_icons{
    margin-bottom:0.8rem;
    margin-right: 0.5rem;
}

.row{
    cursor: pointer;
    display: flex;
}

.row a{
    color: black;
    text-decoration: none;
}

.row a:hover{
    color: red;
}