<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ask Question</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/AskQuestion.css">
</head>
<body>
    <div class="container">
        <nav id="navbar">
                <img src="" alt="stack" id="logo">
                <div class="search">
                     <input type="search" name="search_bar" id="search_bar">
                     <i class="fa-solid fa-magnifying-glass search_icon"></i>
                </div>
                <span class="profile">
                    <img src="" alt="" id="user_pic">
                </span>
                <ul class="items">
                    <li><a href=""><i class="fa-solid fa-question"></i></a></li>
                    <li><a href="">Recent achivements</a></li>
                </ul>
        </nav>
    <div class="content">
            <h3 id="heading">Ask a public question</h3>
        <form th:action="@{/savequestion}" method="post" th:object="${question}">
            <div class="input_group">
                <h5>Title</h5>
                <p>Be specific and imagine you’re asking a question to another person.</p>
                <input type="text" name="title" id="title" th:field="*{title}">
            </div>

            <div class="input_group">
                <h5>What are the details of your problem?</h5>
                <p>Introduce the problem and expand on what you put in the title. Minimum 20 characters.</p>
               <textarea name="content"  cols="30" rows="10" minlength="20" th:field="*{content}"></textarea>
            </div>

            <div class="input_group">
                <h5>Tags</h5>
                <p>Add up to 5 tags to describe what your question is about. Start typing to see suggestions.</p>
                <input type="text" name="tags" id="tags" th:field="${tag.name}">
            </div>

            <input type="submit" value="Submit" class="buttons">
        </form>
    </div>
    </div>
</body>
</html>