<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark question</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/BookmarkQuestion.css">
</head>
<body>
    <nav id="navbar">
        <svg aria-hidden="true" class="native svg-icon iconLogoGlyphMd" width="32" height="37" viewBox="0 0 32 37">
            <path d="M26 33v-9h4v13H0V24h4v9h22Z" fill="#BCBBBB"></path><path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5
                        0ZM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5ZM9.1 15.2l15 7 1.4-3-15-7-1.4 3Zm14
                        10.79.68-2.95-16.1-3.35L7
                        23l16.1 2.99ZM23 30H7v-3h16v3Z" fill="#F48024"></path><span id="title">
                        Stack<b>overflow</b>
                    </span>
        </svg>
        <div class="search">
            <form th:action="@{/}">
                <input type="search" th:name="search" id="search_bar" placeholder="Search...">
                <button class="fa-solid fa-magnifying-glass search_icon icons" type="submit">
                </button>
            </form>
        </div>
        <span class="profile">
                    <img src="" alt="" id="user_pic">
                </span>
        <ul class="items">
            <li>
                <a th:href="@{/userProfile}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="19" width="17" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg aria-hidden="true" class="svg-icon iconAchievements" width="21" height="21" viewBox="0 0 18 18">
                        <path d="M15 2V1H3v1H0v4c0 1.6 1.4 3 3 3v1c.4 1.5 3 2.6 5 3v2H5s-1 1.5-1 2h10c0-.4-1-2-1-2h-3v-2c2-.4 4.6-1.5 5-3V9c1.6-.2 3-1.4 3-3V2h-3ZM3 7c-.5 0-1-.5-1-1V4h1v3Zm8.4 2.5L9 8 6.6 9.4l1-2.7L5 5h3l1-2.7L10 5h2.8l-2.3 1.8 1 2.7h-.1ZM16 6c0 .5-.5 1-1 1V4h1v2Z"></path>
                    </svg>
                </a>
            </li>
            <li><a href=""><i class="fa-solid fa-circle-question icons"></i></a></li>
        </ul>
        <span id = "login-logout">
            <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/signup}">signup</a>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <form method="post" th:action = "@{/logout}">
                    <input id="logout" type="submit" value="Logout">
                </form>
            </th:block>
        </span>
    </nav>

<div id = "parent">
    <div id = "sidebar-container">
        <div id="sidebar">
            <div class="row">
                <a href="/" >
                    <i class="fa-solid fa-house side_icons"></i>
                    <small class="side-text">Home</small>
                </a>
            </div>

            <div class="row">
                <a href="/questions/ask" >
                    <i class="fa-solid fa-circle-question side_icons"></i>
                    <small class="side-text">Ask Question</small>
                </a>
            </div>

            <div class="row">
                <a href="/tags" >
                    <i class="fa-solid fa-tag side_icons"></i>
                    <small class="side-text">Tags</small>
                </a>
            </div>
            <br><br>
            <div class="row active-bar">
                <a href="/users/saves">
                    <i class="fa-solid fa-bookmark side_icons"></i>
                    <small class="side-text active-question">Saves</small>
                </a>
            </div>
            <div class="row">
                <a href="/users">
                    <i class="fa-solid fa-user side_icons"></i>
                    <small class="side-text">Users</small>
                </a>
            </div>
            <br>
<!--            <div class="row">-->
<!--                <a href="/discussions">-->
<!--                    <i class="fa-solid fa-message side_icons"></i>-->
<!--                    <small class="side-text">Discussions</small>-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>

    <div id = "body">
        <div class="heading">
            <h4>Bookmark Questions</h4>
            <p>
                A bookmark page is a user-friendly feature within a web browser or application that allows users to
                save and organize links to specific web pages or content of interest. By bookmarking a page, users can
                quickly revisit their favorite websites, articles, or resources without the need to remember or retype
                the URL. Bookmark pages often provide functionalities to categorize, tag, or arrange bookmarks,
                facilitating efficient navigation and retrieval of saved content. This feature enhances user
                convenience, enabling them to create a personalized collection of valuable online resources for easy
                access and reference.
            </p>
        </div>
        <div class="filters">
            <ul class="sort_items">
                <li class="sort_item"><a
                >Popular</a></li>
                <li class="sort_item"><a href="/tag">Name</a></li>
                <li class="sort_item"><a href="/tag">new</a></li>
            </ul>
        </div>

        <div  th:if="${!questions.isEmpty()}" class="qs_box">
            <span th:each="question : ${questions}" class="q_box">
                <a th:text="${question.title}" class="q_title" th:href="@{'/viewQuestion/' + ${question.id}}">What is title</a>
                <p th:text="${question.content}" class="q_content">Content is content that is upto everybody how they keep their content updated.</p>
                <div class="q_lower">
                      <div class="q_left">
                         <p class="views" >
                             <i class="fa-solid fa-eye"></i>
                             <span class="view_text" th:text="${question.views}"></span>
                          </p>
                         <p class="votes" >
                             <i class="fa-solid fa-heart"></i>
                             <span class="vote_text" th:text="${question.votes}"></span>
                         </p>
                         <p class="answers_count" >
                             <i class="fa-solid fa-message"></i>
                             <span class="answer_view" th:text="${question.answers.size()}"></span>
                          </p>
                         <p class="comment_count">
                             <i class="fa-solid fa-comment q_icons"></i>
                             <span class="comment_view" th:text="${question.comments.size()}"></span>
                         </p>
                     </div>
                     <div class="q_right">
                         <a class="author_box" th:href="@{'/userProfile?userId='+ ${question.user.id}}">
                              <i class="fa-solid fa-pen-clip"></i>
                             <span class="author_view" th:text="${question.author}"></span>
                          </a>
                     </div>
                </div>
            </span>

        </div>

        <div class="contentBox"  th:if="${questions.isEmpty()}">
            <br><br><br><br>
            <span>No Bookmark Questions</span><br><br>
        </div>


    </div>
    <div id="main-container">
        <main>
            <section class="section-container">
                <div class="static-content">
                    <h3>About Stack Overflow</h3>
                    <p>Stack Overflow is a question-and-answer website for computer programmers. It is the
                        flagship site of the Stack Exchange Network. It was created in 2008 by Jeff Atwood and Joel
                        Spolsky. It features questions and answers on certain computer programming topics.</p>
                </div>
                <div class="static-content">
                    <h3>What is Programming</h3>
                    <p>Programming is the process of creating instructions for a computer to perform tasks.
                        It's a collaboration between humans and computers. Humans create instructions for computers
                        to follow in a language that computers can understand.</p>
                </div>
                <div class="static-content">
                    <h3>What is Web Development</h3>
                    <p>Web development refers to the creating, building, and maintaining of websites. It includes
                        aspects such as web design, web publishing, web programming, and database management. It
                        is the creation of an application that works over the internet i.e. websites.</p>
                </div>
                <div class="static-content">
                    <h3>When and How Java introduced</h3>
                    <p>Java was originally developed by James Gosling at Sun Microsystems. It was released in
                        May 1995 as a core component of Sun Microsystems' Java platform. The original and reference
                        implementation Java compilers, virtual machines, and class libraries were originally
                        released by Sun under proprietary licenses</p>
                </div>
            </section>
        </main>
    </div>
</div>

</body>
</html>