<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" th:href="@{/css/questionPage.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav id="navbar">
        <svg aria-hidden="true" class="native svg-icon iconLogoGlyphMd" width="32" height="37" viewBox="0 0 32 37">
            <path d="M26 33v-9h4v13H0V24h4v9h22Z" fill="#BCBBBB"></path><path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5
                    0ZM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5ZM9.1 15.2l15 7 1.4-3-15-7-1.4 3Zm14
                    10.79.68-2.95-16.1-3.35L7
                    23l16.1 2.99ZM23 30H7v-3h16v3Z" fill="#F48024"></path><span id="title">
                    Stack<b>overflow</b>
                </span>
        </svg>
        <div class="search">
            <input type="search" name="search_bar" id="search_bar">
            <i class="fa-solid fa-magnifying-glass search_icon icons"></i>
        </div>
        <span class="profile">
                <img src="" alt="" id="user_pic">
            </span>
        <ul class="items">
            <li><a href=""><i class="fa-solid fa-question icons"></i></a></li>
            <li><a href=""><i class="fa-solid fa-trophy icons"></i></a></li>
        </ul>
        <li><a th:href="@{/login}">Login</a>
        <li><a th:href="@{/signup}">signup</a></li>
    </nav>

    <div id = "parent">
        <div id="sidebar">
            <div class="row">
                <a href="/" >
                <i class="fa-solid fa-house side_icons"></i>
                <small class="side_text">Home</small>
                </a>
            </div>

            <div class="row">
                <a href="/" >
                <i class="fa-solid fa-circle-question side_icons"></i>
                <small class="side_text">Questions</small>
            </a>
            </div>

            <div class="row">
                <a href="/tags" >
                <i class="fa-solid fa-tag side_icons"></i>
                <small class="side_text">Tags</small>
            </a>
            </div>
            <br><br>
            <div class="row">
                <a href="/users/saves">
                <i class="fa-solid fa-bookmark side_icons"></i>
                <small class="side_text">Saves</small>
            </a>
            </div>
            <div class="row">
                <a href="/users" >
                <i class="fa-solid fa-user side_icons"></i>
                <small class="side_text">Users</small>
            </a>
            </div>
            <br>
            <div class="row">
                <a href="/discussions">
                    <i class="fa-solid fa-message side_icons"></i>
                     <small class="side_text">Discussions</small>
                </a>
            </div>
        </div>

        <div id = "body">
            <div id = "main-question">
                <div id = "question">
                    <h1 th:text = "${question.title}"></h1>
                    <form th:action = "@{/questions/ask}">
                        <input type="submit" value="Ask Question">
                    </form>
                </div>
                <div id = "view-detail">
                    Asked: <b><span th:text = "${#dates.format(question.createdAt, 'dd/MM/YYYY')}"
                                    style="margin-right:0.5rem;"></span></b>
                    Modified: <b><span th:text = "${#dates.format(question.modifiedAt, 'dd/MM/YYYY')}"
                                       style="margin-right:0.5rem;"></span></b>
                    Views: <b><span th:text = "${question.views}" style="margin-right:0.5rem;"></span></b>
                </div>
            </div>
            <div class = "question-detail">
                <div class = "voting">
                    <span class = "voting-button">
                        <i class="fa-solid fa-caret-up"></i>
                    </span>
                        <span th:text = "${question.votes}"></span>
                        <span class = "voting-button">
                        <i class="fa-solid fa-caret-down"></i>
                    </span>
                </div>

                <div th:if = "${isEdited != null}">
                    <div class = "content-body">
                        <div class = "question-content">
                            <form th:action = "@{/updateQuestion/{questionId}
                            (questionId = ${question.id})}" method="GET">
                                <textarea th:text="${question.content}" name="editedContent"
                                          th:value = "${question.content}" rows="10" cols="110"></textarea>
                                <br>
                                <input type="submit" value="Update">
                            </form>
                            <a th:each="tag : ${question.tags}" th:text="${tag.name}" class="tags" th:href="@{/questions/tagged/{tagId}(tagId=${tag.id})}"></a>
                        </div><br><br>

                    </div>
                </div>

                <div th:unless = "${isEdited != null}">
                    <div class = "content-body">
                        <div class = "question-content">
                            <p th:text = "${question.content}"></p>

                            <span th:each = "tag : ${question.tags}" th:text = "*{tag.name}" class = "tags"></span>
                        </div><br><br>
                        <a th:href = "@{/editQuestion/{questionId} (questionId = ${question.id})}"
                           class = "answer-action">
                            Edit
                        </a>

                        <a th:href = "@{/deleteQuestion/{questionId} (questionId = ${question.id})}"
                           class = "answer-action">
                            Delete
                        </a>
                        <a href="#" class = "answer-action">comment</a>
                    </div>
                </div>
            </div>

            <div>
                <span th:text = "${question.answers.size()}"></span>Answer
                <div th:each = "answer: ${question.answers}">
                    <div th:if="${editAnswer != null && answer.id == editAnswer.id}">
                        <div class = "question-detail">
                            <div class = "voting">
                            <span class = "voting-button">
                                <i class="fa-solid fa-caret-up"></i>
                            </span>
                                <span th:text = "${question.votes}"></span>
                                <span class = "voting-button">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                            </div>

                            <form th:action = "@{/updateAnswer/{questionId}/{answerId}
                             (questionId = ${question.id}, answerId = *{answer.id})}" method="GET">
                                <textarea th:text="*{answer.content}" name="editedContent"
                                          th:value = "*{answer.content}" rows="10" cols="110"></textarea>
                                <br>
                                <input type="submit" value="Update">
                            </form>
                        </div>
                    </div>

                    <div th:unless = "${editAnswer != null && answer.id == editAnswer.id}">
                        <div class = "question-detail">
                            <div class = "voting">
                            <span class = "voting-button">
                                <i class="fa-solid fa-caret-up"></i>
                            </span>
                                <span th:text = "${question.votes}"></span>
                                <span class = "voting-button">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                            </div>

                            <div class = "content-body">
                                <div th:text = "*{answer.content}"></div><br><br>

                                <a th:href = "@{/editAnswer/{questionId}/{answerId} (questionId = ${question.id},
                                answerId = *{answer.id})}" class = "answer-action">
                                    Edit
                                </a>

                                <a th:href = "@{/deleteAnswer/{questionId}/{answerId} (questionId = ${question.id},
                                answerId = *{answer.id})}" class = "answer-action">
                                    Delete
                                </a>

                                <a href = "#" class = "answer-action">
                                    Comment
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p style="font-size: x-large">Your Answer</p>

                <form th:action = "@{/addAnswer{questionId} (questionId = ${question.id})}" method="GET">
                    <textarea name = "content" rows = "10" cols = "130"></textarea><br><br><br>
                    <input type="submit" value="post Your Answer">
                </form>

            </div>
        </div>
        <div></div>
    </div>
</body>
</html>