<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blogs</title>
    <link rel="stylesheet" th:href="@{/css/questionPage.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav id="navbar">
        <svg aria-hidden="true" class="native svg-icon iconLogoGlyphMd" width="32" height="37" viewBox="0 0 32 37">
            <path d="M26 33v-9h4v13H0V24h4v9h22Z" fill="#BCBBBB"></path><path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5
                    0ZM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5ZM9.1 15.2l15 7 1.4-3-15-7-1.4 3Zm14
                    10.79.68-2.95-16.1-3.35L7
                    23l16.1 2.99ZM23 30H7v-3h16v3Z" fill="#F48024"></path><span id="title">
                    Stack<b>overflow</b>
                </span>
        </svg>
        <div class="search">
            <input type="search" name="search_bar" id="search_bar">
            <i class="fa-solid fa-magnifying-glass search_icon icons"></i>
        </div>
        <span class="profile">
                <img src="" alt="" id="user_pic">
            </span>
        <ul class="items">
            <li>
                <a th:href="@{/userProfile}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="19" width="17" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg aria-hidden="true" class="svg-icon iconAchievements" width="21" height="21" viewBox="0 0 18 18">
                        <path d="M15 2V1H3v1H0v4c0 1.6 1.4 3 3 3v1c.4 1.5 3 2.6 5 3v2H5s-1 1.5-1 2h10c0-.4-1-2-1-2h-3v-2c2-.4 4.6-1.5 5-3V9c1.6-.2 3-1.4 3-3V2h-3ZM3 7c-.5 0-1-.5-1-1V4h1v3Zm8.4 2.5L9 8 6.6 9.4l1-2.7L5 5h3l1-2.7L10 5h2.8l-2.3 1.8 1 2.7h-.1ZM16 6c0 .5-.5 1-1 1V4h1v2Z"></path>
                    </svg>
                </a>
            </li>
            <li><a href=""><i class="fa-solid fa-circle-question icons"></i></a></li>
        </ul>
        <span id = "login-logout">
           <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/signup}">signup</a>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <form method="post" th:action = "@{/logout}">
                    <input type="submit" value="Logout">
                </form>
            </th:block>
        </span>
    </nav>

    <div id = "parent">
        <div id = "sidebar-container">
            <div id="sidebar">
                <div class="row">
                    <a href="/" >
                        <i class="fa-solid fa-house side_icons"></i>
                        <small class="side-text">Home</small>
                    </a>
                </div>

                <div class="row active-bar">
                    <a href="/" >
                        <i class="fa-solid fa-circle-question side_icons"></i>
                        <small class="side-text active">Questions</small>
                    </a>
                </div>

                <div class="row">
                    <a href="/tags" >
                        <i class="fa-solid fa-tag side_icons"></i>
                        <small class="side-text">Tags</small>
                    </a>
                </div>
                <br><br>
                <div class="row">
                    <a href="/users/saves">
                        <i class="fa-solid fa-bookmark side_icons"></i>
                        <small class="side-text">Saves</small>
                    </a>
                </div>
                <div class="row">
                    <a href="/users">
                        <i class="fa-solid fa-user side_icons"></i>
                        <small class="side-text">Users</small>
                    </a>
                </div>
                <br>
                <div class="row">
                    <a href="/discussions">
                        <i class="fa-solid fa-message side_icons"></i>
                        <small class="side-text">Discussions</small>
                    </a>
                </div>
            </div>
        </div>

        <div id = "body">
            <div id = "main-question">
                <div id = "question">
                    <h1 th:text = "${question.title}"></h1>
                    <form th:action = "@{/questions/ask}">
                        <input type="submit" value="Ask Question">
                    </form>
                  
                </div>
                <div id = "view-detail">
                    Asked: <b><span th:text = "${#dates.format(question.createdAt, 'dd/MM/YYYY')}"
                                    style="margin-right:0.5rem;"></span></b>
                    Modified: <b><span th:text = "${#dates.format(question.modifiedAt, 'dd/MM/YYYY')}"
                                       style="margin-right:0.5rem;"></span></b>
                    Views: <b><span th:text = "${question.views}" style="margin-right:0.5rem;"></span></b>
                    <a  th:unless="${add}"  th:href="@{'/question/bookmark/' + ${question.id} +'/add/' + ${add}}" class="bookmark"><i class="fa-solid fa-bookmark bookmark-icon"></i></a>
                     <a  th:if="${add}"    th:href="@{'/question/bookmark/' + ${question.id} +'/add/' + ${add}}" class="bookmark"><i class="fa-regular fa-bookmark bookmark-icon"></i></a>
                </div>
            </div>
            <div class = "question-detail">
                <div class = "voting" th:if = "${isEdited != null}"></div>
                <div class = "voting" th:unless = "${isEdited != null}">
                        <a th:href="@{'/processVote?vote=1&type=question&questionId=' + ${question.id}}">
                            <span class = "voting-button">
                                <i class="fa-solid fa-caret-up"></i>
                            </span>
                        </a>
                        <span th:text = "${question.votes}" class = "voting-count"></span>
                        <a th:href="@{'/processVote?vote=-1&type=question&questionId=' + ${question.id}}">
                            <span class = "voting-button">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </a>
                </div>

                <div th:if = "${isEdited != null}">
                    <div class = "content-body">
                        <div class = "question-content">
                            <form th:action = "@{/updateQuestion/{questionId}
                            (questionId = ${question.id})}" method="GET">
                                <textarea th:text="${question.content}" name="editedContent"
                                          th:value = "${question.content}" rows="10" cols="110"></textarea>
                                <br>
                                <input type="submit" value="Update">
                            </form>
                            <a th:each="tag : ${question.tags}" th:text="${tag.name}" class="tags"
                               th:href="@{/questions/tagged/{tagId}(tagId=${tag.id})}"></a>
                        </div><br><br>
                    </div>
                </div>

                <div th:unless = "${isEdited != null}">
                    <div class = "content-body">
                        <div class = "question-content">
                            <p th:text = "${question.content}"></p>
                            <img th:if="${question.photo != null}" th:src="@{'/css/image/' + ${question.photo}}"
                                 height="400px" width="400px" class="show_img">
                            <br>
                            <span th:each = "tag : ${question.tags}" th:text = "*{tag.name}" class = "tags"></span>
                        </div><br><br>
                        <th:block th:if="${#authentication.principal.username eq question.user.email}">
                        <a th:href = "@{/editQuestion/{questionId} (questionId = ${question.id})}"
                           class = "answer-action">
                            Edit
                        </a>

                        <a th:href = "@{/deleteQuestion/{questionId} (questionId = ${question.id})}"
                           class = "answer-action">
                            Delete
                        </a>
                        </th:block>
                        <a th:unless="${addComment != null}" th:href="@{/addComment/{questionId} (questionId = ${question.id})}"
                           class = "answer-action">comment</a>
                        <form th:if="${addComment != null}" th:action = "@{/saveComment}" method="Post">
                            Comment:
                            <textarea name="saveContent"
                                      th:field = "${comments.comment}" rows="10" cols="110" required></textarea>
                            <input type="hidden" th:name="questionId" th:value="${question.id}">
                            <br>
                            <input type="submit" value="Comment">
                        </form>
                        <br><br>
                        <div th:if="${comments != null and comments.user != null}" th:each =
                                "comments : ${question.comments}" class="comment">

                            <span th:text = "*{comments.user.userName}+' : '"  ></span><br>
                            <th:block th:unless="${editComment != null and editComment eq comments.id}">
                            <span th:text = "*{comments.comment}"  ></span><br>
                                <th:block th:if="${#authentication.principal.username eq comments.email}">
                            <a  th:href = "@{/editComment/{commentId} (commentId = ${comments.id})}"
                               class = "answer-action">
                                Edit
                            </a>
                            <a th:href = "@{/deleteComment/{commentId} (commentId = ${comments.id})}"
                               class = "answer-action">
                                Delete
                            </a><br>
                                </th:block>
                            </th:block>
                            <form th:if="${editComment != null and editComment eq comments.id}" th:action =
                                    "@{/updateComment/{commentId} (commentId = ${comments.id})}" method="Post">
                                <textarea name="updateContent"
                                          th:field = "${comments.comment}" rows="10" cols="110"></textarea>
                                <input type="hidden" th:name="questionId" th:value="${question.id}">
                                <br>
                                <input type="submit" value="Edit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div>
                <span th:text = "${question.answers.size()}"></span>Answer
                <div th:each = "answer: ${question.answers}">
                    <div th:if="${editAnswer != null && answer.id == editAnswer.id}">
                        <div class = "question-detail">
                            <div class = "voting">
                            </div>

                            <form th:action = "@{/updateAnswer/{questionId}/{answerId}
                             (questionId = ${question.id}, answerId = *{answer.id})}" method="GET">
                                <textarea th:text="*{answer.content}" name="editedContent"
                                          th:value = "*{answer.content}" rows="10" cols="110"></textarea>
                                <br>
                                <input type="file" name="imageName" accept="image/**" class="add_image">
                                <input type="submit" value="Update">
                            </form>
                        </div>
                    </div>

                    <div th:unless = "${editAnswer != null && answer.id == editAnswer.id}">
                        <div class = "question-detail">
                            <div class = "voting">
                                <a th:href="@{'/processVote?vote=1&type=answer&questionId=' + ${question.id} +
                                '&answerId=' + ${answer.id}}">
                                    <span class = "voting-button">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </span>
                                </a>
                                <span th:text = "${answer.votes}" class = "voting-count"></span>
                                <a th:href="@{'/processVote?vote=-1&type=answer&questionId=' + ${question.id} +
                                '&answerId=' + ${answer.id}}">
                                    <span class = "voting-button">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </span>
                                </a>
                            </div>

                            <div class = "content-body">
                                <div th:text = "*{answer.content}"></div><br><br>
                                <img th:if="${answer.photo != null}" th:src="@{'/css/image/' + ${answer.photo}}"
                                     height="200px" width="200px" class="show_img">
                                <br>
                                <th:block th:if="${#authentication.principal.username eq answer.user.email}">
                                <a th:href = "@{/editAnswer/{questionId}/{answerId} (questionId = ${question.id},
                                answerId = *{answer.id})}" class = "answer-action">
                                    Edit
                                </a>

                                <a th:href = "@{/deleteAnswer/{questionId}/{answerId} (questionId = ${question.id},
                                answerId = *{answer.id})}" class = "answer-action">
                                    Delete
                                </a>
                                </th:block>
                                <a th:unless="*{addAnswerComment != null and addAnswerComment eq answer.id}"
                                   th:href="@{/addAnswerComment/{questionId}/{answerID}
                                   (questionId = ${question.id},answerID=*{answer.id})}"
                                   class = "answer-action">comment</a>
                                <form th:if="*{addAnswerComment != null and addAnswerComment eq answer.id}"
                                      th:action = "@{/saveAnswerComment}" method="Post">
                                    Comment:
                                    <textarea name="saveContent"
                                              th:field = "${comments.comment}" rows="10" cols="110" required></textarea>
                                    <input type="hidden" th:name="questionId" th:value="${question.id}">
                                    <input type="hidden" th:name="answerId" th:value="*{answer.id}">
                                    <br>
                                    <input type="submit" value="Comment">
                                </form>
                                <br><br>
                                <div th:if="${comments != null and comments.user != null}" th:each =
                                        "comments : *{answer.comment}" class="comment">
                                    <span th:text = "*{comments.user.userName}+' : '"  ></span><br>
                                    <th:block th:unless="${editAnswerComment != null and editAnswerComment eq comments.id}">
                                    <span th:text = "*{comments.comment}"  ></span><br>
                                    <th:block th:if="${#authentication.principal.username eq comments.email}">
                                    <a th:href = "@{/editAnswerComment/{commentId}/{questionId}
                                        (commentId = ${comments.id},questionId = ${question.id})}"
                                       class = "answer-action">
                                        Edit
                                    </a>
                                    <a th:href = "@{/deleteComment/{commentId} (commentId = ${comments.id})}"
                                       class = "answer-action">
                                        Delete
                                    </a><br>
                                    </th:block>
                                    </th:block>
                                    <form th:if="${editAnswerComment != null and editAnswerComment eq comments.id}"
                                          th:action ="@{/updateAnswerComment/{commentId} (commentId = ${comments.id})}"
                                          method="Post">
                                <textarea name="updateContent"
                                          th:field = "${comments.comment}" rows="10" cols="110"></textarea>
                                        <input type="hidden" th:name="questionId" th:value="${question.id}">
                                        <input type="hidden" th:name="answerId" th:value="*{answer.id}">
                                        <br>
                                        <input type="submit" value="Edit">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div>
                <p style="font-size: x-large">Your Answer</p>
                <form th:action = "@{/addAnswer{questionId} (questionId = ${question.id})}" method="post"
                      enctype="multipart/form-data">
                    <textarea name = "content" rows = "10" cols = "130" ></textarea><br><br><br>
                    <input type="file" name="imageName" accept="image/**" class="add_image">
                    <input type="submit" value="Post Answer">
                </form>

            </div>
        </div>
        <div></div>
    </div>
</body>
</html>