<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/UserProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav id="navbar">
    <svg aria-hidden="true" class="native svg-icon iconLogoGlyphMd" width="32" height="37" viewBox="0 0 32 37">
        <path d="M26 33v-9h4v13H0V24h4v9h22Z" fill="#BCBBBB"></path><path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5
                    0ZM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5ZM9.1 15.2l15 7 1.4-3-15-7-1.4 3Zm14
                    10.79.68-2.95-16.1-3.35L7
                    23l16.1 2.99ZM23 30H7v-3h16v3Z" fill="#F48024"></path><span id="title">
                    Stack<b>overflow</b>
                </span>
    </svg>
    <div class="search">
        <form th:action="@{/}">
            <input type="search" th:name="search" id="search_bar" placeholder="Search...">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass search_icon icons"></i>
            </button>
        </form>
    </div>
    <span class="profile">
                <img src="" alt="" id="user_pic">
            </span>

        <ul class="items">
            <li>
                <a th:href="@{/userProfile}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="19" width="17" viewBox="0 0 448 512">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg aria-hidden="true" class="svg-icon iconAchievements" width="21" height="21" viewBox="0 0 18 18">
                        <path d="M15 2V1H3v1H0v4c0 1.6 1.4 3 3 3v1c.4 1.5 3 2.6 5 3v2H5s-1 1.5-1 2h10c0-.4-1-2-1-2h-3v-2c2-.4 4.6-1.5 5-3V9c1.6-.2 3-1.4 3-3V2h-3ZM3 7c-.5 0-1-.5-1-1V4h1v3Zm8.4 2.5L9 8 6.6 9.4l1-2.7L5 5h3l1-2.7L10 5h2.8l-2.3 1.8 1 2.7h-.1ZM16 6c0 .5-.5 1-1 1V4h1v2Z"></path>
                    </svg>
                </a>
            </li>
            <li><a href=""><i class="fa-solid fa-circle-question icons"></i></a></li>
        </ul>
    <span id = "login-logout">
            <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/signup}">signup</a>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <form method="post" th:action = "@{/logout}">
                    <input id="logout" type="submit" value="Logout">
                </form>
            </th:block>
        </span>
</nav>

<div id = "parent">
    <div id = "sidebar-container">
        <div id="sidebar">
            <div class="row">
                <a href="/" >
                    <i class="fa-solid fa-house side_icons"></i>
                    <small class="side-text">Home</small>
                </a>
            </div>

            <div class="row">
                <a href="/" >
                    <i class="fa-solid fa-circle-question side_icons"></i>
                    <small class="side-text">Questions</small>
                </a>
            </div>

            <div class="row">
                <a href="/tags" >
                    <i class="fa-solid fa-tag side_icons"></i>
                    <small class="side-text">Tags</small>
                </a>
            </div>
            <br><br>
            <div class="row">
                <a href="/users/saves">
                    <i class="fa-solid fa-bookmark side_icons"></i>
                    <small class="side-text">Saves</small>
                </a>
            </div>
            <div class="row active-bar">
                <a href="/users">
                    <i class="fa-solid fa-user side_icons"></i>
                    <small class="side-text active">Users</small>
                </a>
            </div>
            <br>
<!--            <div class="row">-->
<!--                <a href="/discussions">-->
<!--                    <i class="fa-solid fa-message side_icons"></i>-->
<!--                    <small class="side-text">Discussions</small>-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>

    <div id="userContainer">
        <div id="userDetail">
            <div id="profilePhoto">
                <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" width="50%" >
            </div>

            <div id="profileName">
                <span th:text="${user.userName}" id = "userName"></span>
                <br>
                <span id="memberSince">
                        <svg aria-hidden="true" class="svg-icon iconCake" width="18" height="18" viewBox="0 0 18 18">
                            <path d="M9 4.5a1.5 1.5 0 0 0 1.28-2.27L9 0 7.72 2.23c-.14.22-.22.48-.22.77 0 .83.68 1.5 1.5 1.5Zm3.45 7.5-.8-.81-.81.8c-.98.98-2.69.98-3.67 0l-.8-.8-.82.8c-.49.49-1.14.76-1.83.76-.55 0-1.3-.17-1.72-.46V15c0 1.1.9 2 2 2h10a2 2 0 0 0 2-2v-2.7c-.42.28-1.17.45-1.72.45-.69 0-1.34-.27-1.83-.76Zm1.3-5H10V5H8v2H4.25C3 7 2 8 2 9.25v.9c0 .81.91 1.47 1.72 1.47.39 0 .77-.14 1.03-.42l1.61-1.6 1.6 1.6a1.5 1.5 0 0 0 2.08 0l1.6-1.6 1.6 1.6c.28.28.64.43 1.03.43.81 0 1.73-.67 1.73-1.48v-.9C16 8.01 15 7 13.75 7Z">
                            </path>
                        </svg>
                        Member Since: <span th:text = "${#dates.format(user.createdAt, 'dd/MM/YYYY')}"></span>
                    </span>
            </div>

            <div id="editButtons">
                <th:block th:if="${#authentication.principal.username eq user.email}">
                    <a href="/followers">Followers</a>
                    <a href="/following">Following</a>
                    <a href="/editProfile"><i class="fa-solid fa-pen pen"></i>Edit Profile</a>
                </th:block>
                <th:block th:unless="${#authentication.principal.username eq user.email}">
                    <th:block th:unless = "${#lists.contains(user.followers, loggedUser)}">
                        <a th:href="@{'/follow?follower=' + ${#authentication.principal.username}
                        + '&following=' + ${user.email}}">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>
                            Follow
                        </span>
                        </a>
                    </th:block>
                    <th:block th:if = "${#lists.contains(user.followers, loggedUser)}">
                        <a th:href="@{'/unfollow?follower=' + ${#authentication.principal.username}
                        + '&following=' + ${user.email}}">
                            <i class="fa-solid fa-check"></i>
                            <span>
                                Following
                            </span>
                        </a>
                    </th:block>
                </th:block>
            </div>
        </div>

        <div id="menu">
            <ul id="menuOptions">
                <li><a href="#">Profile</a> </li>
                <li><a href="#">Activity</a></li>
                <li><a href="#">Saves</a> </li>
                <li><a href="#">Settings</a> </li>
            </ul>
        </div>

        <div id="userDetails">
            <div class = "status-view">
                <div class = "profile-heading">
                    Stats
                </div>
                <div id="statsBox">
                    <span class = "statusDetail">
                        <span th:text="${user.reputation}" style = "color: black"></span>
                        reputation
                    </span>
                    <span class = "statusDetail">
                        <span th:text="${user.followers.size()}" style = "color: black"></span>
                        reach
                    </span>
                    <span class = "statusDetail">
                        <span th:text="${user.answerList.size()}" style = "color: black"></span>
                        answers
                    </span>
                    <span class = "statusDetail">
                        <span th:text="${user.userQuestions.size()}" style = "color: black"></span>
                        questions
                    </span>
                </div>
            </div>

            <div id="about">
                <span class = "profile-heading">
                    About
                </span>

                <div th:if="${!user.about.isEmpty()}">
                    <span th:text="${user.about}"></span><br><br><br>
                </div>

                <div class="contentBox"  th:if="${user.about.isEmpty()}">
                    <br><br>
                    <span>
                        Your about me section is currently blank. Would you <br>like to add one? <br>
                        <th:block th:if="${#authentication.principal.username eq user.email}">
                            <a href = "/editProfile">Edit profile</a>
                        </th:block>
                    </span>
                    <br><br>
                </div>

                <span class = "profile-heading">
                    Badges
                </span>

                <div th:if="${!user.userBadges.isEmpty()}">
                    <span th:text="${user.userBadges}"></span><br><br><br>
                </div>

                <div class="contentBox" th:if="${user.userBadges.isEmpty()}">
                    <br><br>
                    <span>No badges earned</span><br><br>
                    <br><br>
                </div>

                    <span class = "profile-heading">
                         Questions Asked
                    </span>

                    <div  th:if="${!user.userQuestions.isEmpty()}" class="qs_box">
                        <span th:each="question : ${user.userQuestions}" class="q_box">
                            <a th:text="${question.title}" class="q_title" th:href="@{'/viewQuestion/' + ${question.id}}">What is title</a>
                            <p th:text="${question.content}" class="q_content">Content is content that is upto everybody how they keep their content updated.</p>
                            <div class="q_lower">
                                  <div class="q_left">
                                     <p class="views" >
                                         <i class="fa-solid fa-eye"></i>
                                         <span class="view_text" th:text="${question.views}">100</span>
                                      </p>
                                     <p class="votes" >
                                         <i class="fa-solid fa-heart"></i>
                                         <span class="vote_text" th:text="${question.votes}">210</span>
                                     </p>
                                     <p class="answers_count" >
                                         <i class="fa-solid fa-message"></i>
                                         <span class="answer_view" th:text="${question.answers.size()}"></span>
                                      </p>
                                     <p class="comment_count">
                                         <i class="fa-solid fa-comment q_icons"></i>
                                         <span class="comment_view" th:text="${question.comments.size()}"></span>
                                     </p>
                                 </div>
                                 <div class="q_right">
                                     <a class="author_box" th:href="@{'/userProfile?userId='+ ${question.user.id}}">
                                          <i class="fa-solid fa-pen-clip"></i>
                                         <span class="author_view" th:text="${question.author}"></span>
                                      </a>
                                 </div>
                            </div>
                        </span>

                    </div>

                    <div class="contentBox"  th:if="${user.userQuestions.isEmpty()}">
                        <br><br><br><br>
                        <span>No Questions Asked</span><br><br>
                    </div>

                <span class = "profile-heading">
                         Answers Posted
                </span>


                <div  th:if="${!user.answerList.isEmpty()}" class="qs_box">
                        <span th:each="answer : ${user.answerList}" class="q_box">
                            <a th:text="${answer.content}" class="q_title" th:href="@{'/viewQuestion/' + ${answer.question.id}}">What is title</a>
                            <div class="q_lower">
                                  <div class="q_left">
                                     <p class="answers_count" >
                                         <i th:if="${answer.accepted}" class="fa-solid fa-circle-check tick-accept"></i>
                                         <i th:if="!${answer.accepted}" class="fa-regular fa-circle-check tick_not_accept"></i>
                                         <span th:if="${answer.accepted}"  class="answer_view" th:text="Accepted"></span>
                                          <span th:if="!${answer.accepted}"  class="answer_view" th:text="'Not Accepted'"></span>
                                      </p>
                                        <p class="votes" >
                                         <i class="fa-solid fa-heart"></i>
                                         <span class="vote_text" th:text="${answer.votes}"></span>
                                     </p>
                                     <p class="comment_count">
                                         <i class="fa-solid fa-comment q_icons"></i>
                                         <span class="comment_view" th:text="${answer.comment.size()}"></span>
                                     </p>
                                 </div>
                                 <div class="q_right">
                                     <a class="author_box" th:href="@{'/userProfile?userId='+ ${answer.user.id}}">
                                          <i class="fa-solid fa-pen-clip"></i>
                                         <span class="author_view" th:text="${answer.author}"></span>
                                      </a>
                                 </div>
                            </div>
                        </span>

                </div>

                <div class="contentBox"  th:if="${user.answerList.isEmpty()}">
                    <br><br><br><br>
                    <span>No Answers Posted</span><br><br>
                </div>

                <span class = "profile-heading">
                         Comments Posted
                </span>


                <div  th:if="${!user.commentList.isEmpty()}" class="qs_box">
                        <span th:each="comment : ${user.commentList}" class="q_box">
                            <a th:text="${comment.comment}" class="q_title" >What is title</a>
                        </span>
                </div>

                <div class="contentBox"  th:if="${user.commentList.isEmpty()}">
                    <br><br><br><br>
                    <span>No Comments Posted</span><br><br>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
</body>
</html>
