<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/UserProfile.css">
</head>
<body>

<nav id="navbar">
    <img src="" alt="stack" id="logo">
    <div class="search">
        <input type="search" name="search_bar" id="search_bar">
        <i class="fa-solid fa-magnifying-glass search_icon"></i>
    </div>
    <span class="profile">
                    <img src="" alt="" id="user_pic">
                </span>
    <ul class="items">
        <li><a href=""><i class="fa-solid fa-question"></i></a></li>
        <li><a href="">Recent achivements</a></li>
    </ul>
</nav>
<div id="userContainer">
    <div id="userName">
        <div id="profilePhoto">
            <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png" width="50%" >
        </div>
        <div id="profileName">
            <br>
            <span id="memberSince">Member since today, Last seen this week, Visited 1 day, 1 consecutive
            </span>
        </div>
        <div id="editButtons">
            <a href="#">Edit Profile</a>
            <a href="#">Network Profile</a>
        </div>
    </div>
    <div id="menu">
        <ul id="menuOptions">
            <li><a href="#">Profile</a> </li>
            <li><a href="#">Activity</a></li>
            <li><a href="#">Saves</a> </li>
            <li><a href="#">Settings</a> </li>
        </ul>
    </div>

    <div id="userDetails">
        <div id="stats">
            Stats
            <div id="statsBox">
            </div>
            Communities
            <div id="communiyBox">

            </div>
        </div>

        <div id="about">
            About
            <div id="aboutBox">
                Nothing Here
            </div>
            Badges
            <div id="badgesBox">
                No badges earned
            </div>
            Posts
            <div id="postsBox">
                No posts available
            </div>
        </div>
    </div>

</div>
</body>
</html>